.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #000;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  height: 100px;
}

.navbar-menu {
  display: flex;
  gap: 30px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-menu a:hover {
  opacity: 0.7;
}

/* CELULAR */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .navbar-logo {
    height: 130px;
  }

  .navbar-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}